html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
}

header {
  background-color: #ffe8e8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > * {
  margin-right: 2rem;
}

.dropdown {
  position: relative;
  background-color: #ffb7b7;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  /*so mouse does not see it*/
}

.dropdown-menu p {
  font-size: 2rem;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

button,
a {
  font-size: 2rem;
}
